@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<LogEntryDisplay Title="Movie with friends" Date="2018-11-23" Location="Stockholm Movie Theater" 
Description="Going with friends to see the lastest movie. And then maybe dinner." CompleteDate="2018-11-23" />
<LogEntryDisplay Title="Movie with friends" Date="2018-11-23" Location="Stockholm Movie Theater" 
Description="Going with friends to see the lastest movie. And then maybe dinner." CompleteDate="2018-11-23" />
<LogEntryDisplay Title="Movie with friends" Date="2018-11-23" Location="Stockholm Movie Theater" 
Description="Going with friends to see the lastest movie. And then maybe dinner." CompleteDate="2018-11-23" />
<LogEntryDisplay Title="Movie with friends" Date="2018-11-23" Location="Stockholm Movie Theater" 
Description="Going with friends to see the lastest movie. And then maybe dinner." CompleteDate="2018-11-23" />
<SurveyPrompt Title="How is Blazor working for you?" />
<SurveyPrompt Title="What is this" />
